.row{
  display: flex !important
}

.flex-between{
  justify-content: space-between;
}

.quote-box{
  border: 1px solid grey;
  border-radius: 4px;
  margin: 10px;
  width: 400px;
  padding: 5px;
}

.mr10{
  margin-right: 10px;
}